@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  src: url(./assets/fonts/Vazir.woff2)
}

@font-face {
  font-family: vazir-bold;
  src: url(./assets/fonts/Vazir-Bold.woff2);
}

@font-face {
  font-family: vazir-thin;
  src: url(./assets/fonts/Vazir-Thin.woff2);
}

@font-face {
  font-family: number;
  src: url(./assets/fonts/Dirooz-FD.woff2);
}

.information-bg {
  background-image: url(./assets/images/information.png);
  background-size: cover;
}

.table-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

