@tailwind base;
@tailwind components;
@tailwind utilities;

.information-bg{
    background-image: url(./assets/images/information.png);
    background-size: cover;
}

.table-container::-webkit-scrollbar{
    display: none;
}
